header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid rgb(182, 182, 182);
}

.headerRight{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav button{
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}

nav button:hover{
    cursor: pointer;
}

#userIcon{
    font-size: 25px;
}